.navbar {
  background: #e8dcb9
}

.greeting {
  padding-top: 2vw;
  padding-bottom: 2vw;
  text-align: left;
  text-transform: capitalize;
}

.logout {
  margin-left: 75%;
}

.dot {
  margin-top: -90px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: grey;
  box-shadow: 0px 20px 0px grey, 0px 40px 0px grey;
}

.more {
  /* position: absolute; */
  margin-top: 0;
  float: right;
  padding: 10px 50px 10px 10px;
}

.menu {
  align-items: center;
  width: 20%;
  float: right;
  position: absolute;
  margin-left: 80%;
  margin-right: auto;
  padding: 40px;
  text-align: center;
  border: 1px solid #000;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 20px 25px -15px rgba(0, 0, 0, 0.3);
  z-index: 1;
}

.btn {
  display: block !important;
  margin: 0;
}

.ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    width: 100vw;
    margin-top: -1px;
    margin-left: -1px;
}

.li {
    float: right;
}

.li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.li a:hover {
    background-color: #111;
}
